/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fffafa; 
  color: rgb(var(--foreground-rgb));
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.editor {
  background-color: #FFFAFA;
  border-right: 1px solid #E0E0E0;
  padding: 10px; 
  box-sizing: border-box;
}

.preview {
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #FFF5EE;
  font-family: 'Old Standard TT', serif;
}

.preview h1 {
  font-size: 24px; 
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
}

.preview h2 {
  font-size: 20px; 
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
}

.preview h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 12px;
}

.preview h4 {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 12px;
}

.preview h5 {
  font-size: 8px;
  font-weight: bold;
  padding-bottom: 12px;
}

.preview h6 {
  font-size: 4px;
  font-weight: bold;
  padding-bottom: 12px;
}

.preview img {
  width: 100%;
  margin: 12px 0;
}

.preview ul {
  list-style-type: disc; 
  margin-left: 20px; 
  padding-left: 0;
}

.preview li {
  margin-bottom: 5px; 
  line-height: 1.6; 
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.6;
  white-space: pre-wrap;
}

.katex {
  display: block;
  margin: 10px 0;
}

.prose {
  text-align: justify;
}

.prose h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}

.prose h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.prose ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.prose ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}

.prose li {
  margin-bottom: 0.5rem;
}