/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  @apply m-0 font-sans bg-white text-black;
  background-color: #fffafa; 
  color: rgb(var(--foreground-rgb));
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.editor {
  background-color: #FFFAFA;
  border-right: 1px solid #E0E0E0;
  padding: 10px; 
  box-sizing: border-box;
}

.preview {
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #FFF5EE;
}

.preview h1 {
  font-size: 24px; 
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
}

.preview h2 {
  font-size: 20px; 
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
}

.preview h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 12px;
}

.preview h4 {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 12px;
}

.preview h5 {
  font-size: 8px;
  font-weight: bold;
  padding-bottom: 12px;
}

.preview h6 {
  font-size: 4px;
  font-weight: bold;
  padding-bottom: 12px;
}

.preview img {
  width: 100%;
  margin: 12px 0;
}

.preview ul {
  list-style-type: disc; 
  margin-left: 20px; 
  padding-left: 0;
}

.preview li {
  margin-bottom: 5px; 
  line-height: 1.6; 
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.6;
}

.katex {
  display: block;
  margin: 10px 0;
}
