
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.outerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 565px;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
}

.container p{

    color: #1F1F1F;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: var(--sds-size-stroke-border);
    margin-bottom: 51px;
}
.container button{
    width: 124px;
    height: 61px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.35);
    border-radius: 40px;
    margin: 1rem;
    font-weight: 600;
    background-color: #FFFAFA;
}

.container input[type='email']{
    width: 400px;
    height: 40px;
    flex-shrink: 0;
    fill: #FFFAFA;
    stroke-width: 1px;
    stroke: #909090;
    opacity: var(--sds-size-stroke-border);
    padding: 25px;
    border-radius: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 51px;
    margin-bottom: 24px;
}

.container .sign{
    width: 398px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50px;
    border: var(--sds-size-stroke-border) solid rgba(31, 31, 31, 0.95);
    opacity: var(--sds-size-stroke-border);
    background: #2F2F2F;
    color: #FFFAFA;
}

.container .link{
    color: #000;
    opacity: var(--sds-size-stroke-border);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.52px;

    margin-top: 73px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}